<footer>
    <hr>
    <div class="grid-container">
        <div class="grid-item" style="text-align: left;">
            <span style="font-size: smaller;">Copyright © Nala 2021</span> <br>
            <span style=" font-size: x-small; color: darkslategray;">Deployed in <a
                    href="https://docs.deta.sh">DETA</a></span>
        </div>
        <div class="grid-item">
            <a class="footer-link" href="mailto:pascalisnala98@gmail.com">
                <i class="far fa-envelope"></i>
            </a>
            <a class="footer-link" href="https://www.linkedin.com/in/nala-krisnanda/">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="footer-link" href="https://twitter.com/pasxal___">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>
