    body {
        margin: 20px;
    }
    footer{
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 30px;
        margin-bottom: 5px;
        text-align: right;
        font-family: monospace;
        font-weight: 300;
        font-size: smaller
    }

    blockquote {
        margin: 0 auto;
        margin-left: 1.5em;
        padding-left: 1em;
        border-left: 4px solid #f1f1f1 ;
      }

    h2 {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    h4 {
        margin-top: 0em;
        margin-bottom: 0em;
    }

    p {
        margin-top: 0em;
        margin-bottom: .75em;
    }


    a{
        color: maroon;
        border-bottom: white;
    }

    a:hover{
        border-bottom: 1px dotted maroon;
        text-decoration: none;
    }

    a:link{
        text-decoration: none;
    }

    a:visited {
        text-decoration: none;
        color: maroon;
    }

    br {
        display: block;
        line-height: 10%;
    }

    ul{
        padding-inline-start: 30px;
        padding-block-start: 0em;
    }

    .wrapper {
        box-sizing:border-box;
        max-width: 720px;
        margin: auto;
    }

    code {
        background-color: whitesmoke;
        padding: .2em;
        border-radius: .3em;
    }

    #main-navbar {
        padding-top: 25px;
        font-size: smaller;
        color: black;
        font-family: monospace;
    }

    #content{
        padding-top: 20px;
        font-family: 'Mukta', sans-serif;
        font-weight: 300;
        font-size: .9em;
        text-align: justify;
    }
