
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content=" curly-giggle">
    <meta name="author" content="Nala Krisnanda">

    <!-- css files -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    {% endblock %}
</head>

<body>
    <div class="wrapper">
        <!-- Page Content  -->
        <div id="topnav">
            {% include 'include/topnav.html' %}
        </div>
        <div id="content">
            {% block page_content %}
            {% endblock %}
        </div>
        <div id="footer">
            {% include 'include/footer.html' %}
        </div>

    </div>


    <div class="overlay">

    </div>

</body>

</html>
