{% extends "base.html" %}

{% block title %}curly-giggle{% endblock %}

{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}

Oh hey, I'm Nala, currently a <strike>nerd</strike> data analyst in a tech company.
<br><br>
I have a lot of learning interest specifically in data, engineering, and matemathics area. This site mean to be my safe place where I can express myself.
I'm not limiting the scope of content of this website, it could be anything related to my learning materials, works, productivity tips, or even my hobbies.

<br><br>
Cheers! 🍻

<br><br>
<a href="/resume"> resume</a>
<br>
<a href="#">articles</a>
<br>
<a href="#">github</a>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
